<header>
  <div class="row">
    <div class='navbar nav nav-list navbar-fixed-top' style ='background-color: #0039A0; height:72px; border: none;'>
      <div style="margin-left:190px;padding-top:3px;color:white;" class='col-lg-2 col-md-2 logo-div'>
           <h2> Edutest App </h2>
       </div>
        <div class="container">
          <div style="float:right;margin-left;30px;margin-top:10px;margin-right:156px;", class='col-lg-offset-0 col-lg-6 col-md-offset-0 col-md-8 col-sm-12 search-form'>
              <ul style="color:white;float:right;", class=" nav pull-right nav navbar-nav go-nav">
                <li class="active"><%= link_to "Home", root_path,style: "color:white" %></li>
                <% if current_user.present? %>
                <li><%= link_to 'Courses', courses_path,style: "color:white" %></li>
                <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete',style: "color:white" %></li>
                <% else %>

                <li><%= link_to 'SignIn', new_user_session_path,style: "color:white" %></li>
                <li><%= link_to 'SignUp', new_user_registration_path,style: "color:white" %></li>
                <% end %>
              </ul>
          </div>
        </div>
      </div>
  </div>
</header>
